{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mt-4">

    <div class="container text-center">
        <h2 class="mb-3">Comparar últimos dos excels</h2>
        <form method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="mb-4">
                <button type='submit' class="btn btn-primary">
                    Comparar
                </button>
        </form>

        {% if data %}

        <div class="mt-3 alert alert-success">
            <div class="mt-3">
                <h3 class="mb-3">Rutas de Excel 1</h3>
                <h5 class="mb-3">Diferencias en rutas encontradas respecto a Excel 2: {{first_quantity}}</h5>
                <table class="table table-primary table-hover table-striped">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">POL</th>
                            <th scope="col">POD</th>
                            <th scope="col">Routing</th>
                            <th scope="col">Union</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for p in first %}
                        <tr>
                            <td>{{p.POL}}</td>
                            <td>{{p.POD}}</td>
                            <td>{{p.Routing}}</td>
                            <td>{{p.union}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <h3 class="mb-3">Rutas de Excel 2</h3>
                <h5 class="mb-3">Diferencias en rutas encontradas respecto a Excel 1: {{second_quantity}}</h5>
                <table class="table table-primary table-hover table-striped">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col">POL</th>
                            <th scope="col">POD</th>
                            <th scope="col">Routing</th>
                            <th scope="col">Union</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for p in second %}
                        <tr>
                            <td>{{p.POL}}</td>
                            <td>{{p.POD}}</td>
                            <td>{{p.Routing}}</td>
                            <td>{{p.union}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% endif %}


    </div>
</div>

{% endblock content %}