{% extends 'base.html' %}

{% block content %}



<div class="container-fluid mt-4">

    <div class="container">
        <form method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="mb-4">
                <label for='{{ form.name.id_for_label }}'>Nombre</label>
                {{form.name}}
            </div>

            <div class="mb-4">
                <label for='{{ form.name.id_for_label }}'>Fecha</label>
                {{form.date}}
            </div>

            <div class="mb-4">
                <label for='{{ form.name.id_for_label }}'>Archivo</label>
                {{form.file}}
            </div>

            <button type='submit' class="btn btn-primary">
                Ejecutar
            </button>
        </form>

        <div class="mt-3">

            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

        </div>

        {% if files %}

        <div class="mt-3 ">
            <a class="btn btn-primary mt-5 mr-2 col" href="{{files.first_file.url}}" download="excel">
                Descargar
            </a>
            <a class="btn btn-primary mt-5 mr-2 col" href="{{files.second_file.url}}" download="excel">
                Descargar
            </a>
        </div>

        {% endif %}

        {% if success %}

        <div class="mt-3 alert alert-success">
            <strong>{{ success }}</strong>
        </div>

        {% endif %}

        {% if rates_list %}

        <div class="mt-3">
            <table class="table table-primary table-hover table-striped">
                <thead>
                    <tr class="table-warning">
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr>
                        <td>{{contracts.name}}</td>
                        <td>{{contracts.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-3">
            <table class="table table-success table-hover table-striped">
                <thead>
                    <tr class="table-warning">
                        <th scope="col">POL</th>
                        <th scope="col">POD</th>
                        <th scope="col">Currency</th>
                        <th scope="col">20'GP</th>
                        <th scope="col">40'GP</th>
                        <th scope="col">40'HC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rate in rates_list %}
                    <tr>
                        <td>{{rate.origin}}</td>
                        <td>{{rate.destination}}</td>
                        <td>{{rate.currency}}</td>
                        <td>{{rate.twenty}}</td>
                        <td>{{rate.forty}}</td>
                        <td>{{rate.fortyhc}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}


    </div>
</div>

{% endblock content %}